@model IEnumerable<ClinicModel>
@{
    ViewData["Title"] = "ClinicsList";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-3">
    <div class="card shadow-lg border-0">
        <div class="card-body">
            <form asp-action="List" method="get" class="mb-3">
                <div class="buttonsbox d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">
                        <i class="fa fa-users"></i>
                        @_Localization.GetLocalizedHtmlString("ClinicsList")
                    </h5>
                    @if (ViewBag.AllowAddNew)
                    {
                        <a asp-action="Create" class="btn btn-success">
                            <i class="fa fa-Clinic-plus"></i>
                            @_Localization.GetLocalizedHtmlString("CreateNew")
                        </a>
                    }
                    
                </div>
                <div class="clearfix"></div>

                <div class="input-group pt-2">
                    <input type="text" name="search" value="@ViewBag.Search"
                           class="form-control"
                           placeholder="@_Localization.GetLocalizedHtmlString("Search")" />
                    <button class="btn btn-secondary">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>

            <div class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>                            
                            <th>@_Localization.GetLocalizedHtmlString("NameAr")</th>
                            <th>@_Localization.GetLocalizedHtmlString("Mobile")</th>
                            <th>@_Localization.GetLocalizedHtmlString("PhoneNumber")</th>
                            <th>@_Localization.GetLocalizedHtmlString("DoctorName")</th>
                            <th class="text-end">@_Localization.GetLocalizedHtmlString("Actions")</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            int i = 1;
                            foreach (var Clinic in Model)
                            {
                                <tr>
                                    <td>@i</td>                                   
                                    <td>@Clinic.NameAr</td>
                                    <td>@Clinic.Mobile1</td>
                                    <td>@Clinic.Phone</td>
                                    <td>@Clinic.DoctorName</td>

                                    <td class="text-end">
                                        <div class="d-inline-flex gap-1">
                                            <a asp-action="Edit" asp-route-id="@Clinic.Id"
                                               class="btn btn-info btn-sm">
                                                <i class="fa fa-edit"></i>
                                                @_Localization.GetLocalizedHtmlString("Edit")
                                            </a>
                                         @* <a asp-action="Delete" asp-route-id="@Clinic.Id"
                                               class="btn btn-danger btn-sm"
                                               onclick="return confirm('@_Localization.GetLocalizedHtmlString("ConfirmDelete")')">
                                                <i class="fa fa-trash"></i>
                                                @_Localization.GetLocalizedHtmlString("Delete")
                                            </a> *@

                                        </div>
                                    </td>

                                </tr>
                                i++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5" class="text-center text-danger">
                                    @_Localization.GetLocalizedHtmlString("NoDataFound")
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>

