@using App.Presentation.Helpers
@* @using DataAccessLayer.Entities.Identity;
@using static BusinessLayer.Helpers.SharedEnums; *@
@inject SideMenuItemsCollection _SideMenuService;
@* @inject IidentityService _identityService; *@
@* @inject Microsoft.AspNetCore.Http.IHttpContextAccessor _HttpContextAccessor; *@

<div class="vertical-menu">

    <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            
            <ul class="metismenu list-unstyled" id="side-menu">

                <li>
                    <a asp-controller="Home" asp-action="Dashpoard2" class="waves-effect">
                        <i class="fas fa-home"></i>
                        <strong><span>main</span></strong>
                    </a>
                </li>

                @if (_SideMenuService.SideMenuItems != null)
                {
                    @foreach (var item in _SideMenuService.SideMenuItems)
                    {
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="@item.Icon"></i>
                                <span>@item.ItemTextLocalizationResource</span>
                            </a>
                            @if (item.ChaildsMenuItems != null)
                            {

                                <ul class="sub-menu" aria-expanded="false">
                                    @foreach (var sitem in item.ChaildsMenuItems)
                                    {
                                        if (sitem.ChaildsMenuItems != null && sitem.ChaildsMenuItems.Count() > 0)
                                        {
                                            <li>
                                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                                    <i class="@sitem.Icon"></i>
                                                    <strong><span>@_Localization.GetLocalizedHtmlString(sitem.ItemTextLocalizationResource)</span></strong>
                                                </a>
                                                @if (sitem.ChaildsMenuItems != null)
                                                {
                                                    <ul class="sub-menu" aria-expanded="false">
                                                        @foreach (var ssitem in sitem.ChaildsMenuItems)
                                                        {

                                                            <li>
                                                                <a asp-controller="@ssitem.Controler" asp-action="@ssitem.Action">
                                                                    <i class="@ssitem.Icon"></i>
                                                                    @_Localization.GetLocalizedHtmlString(ssitem.ItemTextLocalizationResource)

                                                                </a>
                                                            </li>

                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                        else
                                        {

                                            <li>
                                                <a asp-controller="@sitem.Controler" asp-action="@sitem.Action" style="font-size:small">
                                                    <i class="@sitem.Icon"></i>
                                                    @_Localization.GetLocalizedHtmlString(sitem.ItemTextLocalizationResource)
                                                </a>
                                            </li>

                                        }
                                    }
                                </ul>
                            }
                        </li>

                    }
                }

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
